<div class="dialog-content">
    <img #imgClose src="../../../../assets/cancel.svg" 
        class="close-button" 
        (click)="closeDialog();" 
        (mouseover)="imgClose.src = '../../../../assets/overcancel.svg'"
        (mouseout)="imgClose.src = '../../../../assets/cancel.svg'"/>
    <h2 mat-dialog-title>Hector Jasso</h2>
    <mat-dialog-content>
      <span>Summary:</span>
      <p>I’m a full stack developer with around 18 years of experience developing desktop, web &
        mobile applications for many companies using latest technologies and adding business value
        by supporting processes with IT solutions in different fields like Health, Industry, Point of sale
        and more as well as extended experience understanding the scope of projects to improve any
        process related to provide an excellent service with the best technologies and practices. Good
        oral communication, reading and written, as well as elaboration of documents based on CMMI
        using agile methodology among others. I can also perform full UX design and create industrial
        animations embed on high level applications by consuming data to set in motion.</p>
    
      <span>Experience:</span>
      <p>Throughout years I’ve gather experience on different platforms, frameworks, libraries, tools, 
        practices and programming languages, always trying to keep my knowledge fresh.</p>
    
      <span>Current job: Project Leader & Fullstack Developer 06/2019 – TODAY/2024</span>
      <p>I'm working as Full-Stack developer in charge to provide maintenance and
        complete all features required by customer, my role in the company is take over high
        level requirements for all apps, also I'm in charge of a small team as project leader
        and interact with associates to address any request of their clients. Basically this
        company arranges the meeting planning process by managing the time-consuming
        task of researching, contacting, and evaluating venues for any organization’s events.
        Mainly I’ve made several enhancements to an application made with angular 9,
        Nativescript + firebase to receive push notifications, angular-material among other
        dependencies, similar to a social media service but managed to be internal, this app
        makes requests to an API RESTful app using NetCore 3 & Azure functions with
        MailKit to send transactional email-notifications by post, Azure apps behind scenes
        to manipulate events by CRUD operations.</p>
    
      <p>Technologies: C# .NETCore 3, VSCode, Azure DevOps, REST API + UnitOfWork pattern,
        Angular 6 & 9 using TypeScript 3, BootStrap 4, NodeJS 12+, SourceTree, NativeScript,
        Mailkit, Handlebars, XCode.</p>
    </mat-dialog-content>
</div>