p {
    font: normal 12px Calibri;
}

h2 {
    font: normal Calibri;
    text-align: center;
}

div {
    font: normal Calibri;
}

span {
    font: normal 14px Calibri;
}

.dialog-content {
    width: 450px;
}

.close-button {
    width: 40px;
    height: 40px;
    float: right;
    cursor: pointer;
}