mat-table {
    width: 100%;
    font: normal 14px Calibri !important;
}

mat-form-field, mat-paginator, mat-option, mat-select {
    font: normal 14px Calibri !important;
}  

mat-header-cell {
    font: bolder 17px Calibri !important;
}

.mat-form-field {
    width: 100%;
}

.rounded-button {
    border-radius: 5px;
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.2);
    cursor: pointer;
    margin-left: 20px;
    left: 20px;
}

.ripple-element {
    width: 100%;
    height: 100%;
    border: none;
    display: inline-block;
 }

 .ripple-container{
    width: 45px;
    height: 45px;
    float: right;
 }

 .button-list {
    border: 1px solid #9ea8ad;
    color: #7ea8ad;
    text-align: center;
    text-decoration: none;
    height: 60px;
    top: -10px;
  }